openapi: 3.0.0
x-stoplight:
  id: lvz3welklfcai
info:
  title: ReVanced API
  version: '1.0'
  description: |-
    The official ReVanced API, for public use.

    For more information, check our [GitHub organization](https://github.com/revanced) or join our [Discord server](https://revanced.app/discord)!
  license:
    url: 'https://www.gnu.org/licenses/gpl-3.0.en.html'
    name: GPL-3.0
servers:
  - url: 'https://api.revanced.app'
    description: prod
  - url: 'http://localhost:8080'
    description: local
paths:
  /release:
    parameters: []
    get:
      summary: Get Releases by their IDs
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: An array of zero or more releases.
                items:
                  $ref: '#/components/schemas/Release'
      operationId: get-releases-by-ids
      description: Fetch one or more releases by their IDs.
      requestBody:
        content:
          application/json:
            schema:
              type: array
              description: An array of one or more release IDs.
              minItems: 1
              uniqueItems: true
              items:
                $ref: '#/components/schemas/Identifier'
    options:
      summary: Get Release IDs
      operationId: get-release-ids
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: An array of zero or more release IDs.
                uniqueItems: true
                items:
                  $ref: '#/components/schemas/Identifier'
      description: |-
        Fetch all release IDs.

        The returned IDs may differ per implementation and installation.
        Do not assume an ID exists, because it may very well not.
  /contributors:
    parameters: []
    get:
      summary: Get Contributors by Repository
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: An array of zero or more contributor lists.
                type: array
                items:
                  $ref: '#/components/schemas/ContributorList'
      operationId: get-contributors-by-repo
      description: Fetch one or more releases by their IDs.
      requestBody:
        content:
          application/json:
            schema:
              type: array
              description: An array of one or more repositories.
              minItems: 1
              uniqueItems: true
              items:
                $ref: '#/components/schemas/Identifier'
    options:
      summary: Get Repositories
      operationId: get-repositories
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: An array of zero or more repositories.
                uniqueItems: true
                items:
                  $ref: '#/components/schemas/Identifier'
      description: |-
        Fetch all repositories.

        The returned repositories may differ per implementation and installation.
        Do not assume a repository exists, because it may very well not.
components:
  schemas:
    Release:
      title: Release
      x-stoplight:
        id: ldvv7wbp846cy
      allOf:
        - properties:
            id:
              $ref: '#/components/schemas/Identifier'
          required:
            - id
        - properties:
            url:
              type: string
              description: Download URL of the release.
      type: object
    Identifier:
      title: Identifier
      x-stoplight:
        id: ubu6ubknn8lpy
      type: string
      description: An identifier.
    ContributorList:
      title: ContributorList
      x-stoplight:
        id: kla64w9suirvc
      type: object
      properties:
        repo:
          type: string
        contributors:
          type: array
          items:
            $ref: '#/components/schemas/Contributor'
      description: ''
    Contributor:
      type: object
      x-examples:
        example-1:
          login: ponces
          id: '4687488'
          avatar_url: 'https://avatars.githubusercontent.com/u/4687488?v=4'
          html_url: 'https://github.com/ponces'
          contributions: 172
      properties:
        login:
          type: string
        id:
          type: string
        avatar_url:
          type: string
        html_url:
          type: string
        contributions:
          type: integer
      required:
        - login
        - id
        - avatar_url
        - html_url
        - contributions
      title: Contributor
      description: 'Click [here](https://docs.github.com/en/rest/repos/repos#list-repository-contributors) for more information.'
  parameters: {}
