openapi: 3.0.0
x-stoplight:
  id: lvz3welklfcai
info:
  title: ReVanced API
  version: '1.0'
  description: |-
    The official ReVanced API, for public use.

    For more information, check our [GitHub organization](https://github.com/revanced) or join our [Discord server](https://revanced.app/discord)!
  license:
    url: 'https://www.gnu.org/licenses/gpl-3.0.en.html'
    name: GPL-3.0
servers:
  - url: 'https://api.revanced.app'
    description: prod
  - url: 'http://localhost:8080'
    description: local
paths:
  /release:
    parameters: []
    get:
      summary: Get Releases by their IDs
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: An array of zero or more releases.
                items:
                  $ref: '#/components/schemas/Release'
      operationId: get-releases-by-ids
      description: Fetch one or more releases by their IDs.
      requestBody:
        content:
          application/json:
            schema:
              type: array
              description: An array of one or more release IDs.
              minItems: 1
              uniqueItems: true
              items:
                $ref: '#/components/schemas/PartialRelease'
    options:
      summary: Get Release IDs
      operationId: get-release-ids
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: An array of zero or more release IDs.
                uniqueItems: true
                items:
                  $ref: '#/components/schemas/PartialRelease'
      description: |-
        Fetch all release IDs.

        The returned IDs may differ per implementation and installation.
        Do not assume an ID exists, because it may very well not.
components:
  schemas:
    Release:
      title: Release
      x-stoplight:
        id: ldvv7wbp846cy
      allOf:
        - properties:
            id:
              $ref: '#/components/schemas/PartialRelease'
          required:
            - id
        - properties:
            url:
              type: string
              description: Download URL of the release.
      type: object
    PartialRelease:
      title: PartialRelease
      x-stoplight:
        id: ubu6ubknn8lpy
      type: string
      description: ID of the release.
  parameters: {}
