openapi: 3.0.0
x-stoplight:
  id: lvz3welklfcai
info:
  title: ReVanced API
  version: '1.0'
  description: |-
    The official ReVanced API, for public use.

    For more information, check our [GitHub organization](https://github.com/revanced) or join our [Discord server](https://revanced.app/discord)!
  license:
    url: 'https://www.gnu.org/licenses/gpl-3.0.en.html'
    name: GPL-3.0
  contact:
    name: ReVanced
    url: 'https://revanced.app'
servers:
  - url: 'https://api.revanced.app'
    description: prod
  - url: 'http://localhost:8080'
    description: local
paths:
  /release:
    parameters: []
    get:
      summary: Get Releases by their IDs
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: An array of zero or more releases.
                minItems: 0
                uniqueItems: true
                items:
                  $ref: '#/components/schemas/Release'
      operationId: get-releases-by-ids
      description: Fetch one or more releases by their IDs.
      requestBody:
        content:
          application/json:
            schema:
              type: array
              description: An array of one or more release IDs.
              minItems: 1
              uniqueItems: true
              items:
                $ref: '#/components/schemas/ReleaseId'
    options:
      summary: Get Release IDs
      operationId: get-release-ids
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: An array of zero or more release IDs.
                uniqueItems: true
                minItems: 0
                items:
                  $ref: '#/components/schemas/ReleaseId'
      description: |-
        Fetch all release IDs.

        The returned IDs may differ per implementation and installation.
        Do not assume an ID exists, because it may very well not.
  /contributors:
    parameters: []
    get:
      summary: Get Contributors by Repository
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: An array of zero or more contributor lists.
                minItems: 0
                uniqueItems: true
                items:
                  $ref: '#/components/schemas/ContributorList'
      operationId: get-contributors-by-repo
      description: Fetch one or more releases by their IDs.
      requestBody:
        content:
          application/json:
            schema:
              type: array
              description: An array of one or more repositories.
              minItems: 1
              uniqueItems: true
              items:
                $ref: '#/components/schemas/Repository'
    options:
      summary: Get Repositories
      operationId: get-repositories
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: An array of zero or more repositories.
                uniqueItems: true
                minItems: 0
                items:
                  $ref: '#/components/schemas/Repository'
      description: |-
        Fetch all repositories.

        The returned repositories may differ per implementation and installation.
        Do not assume a repository exists, because it may very well not.
components:
  schemas:
    Release:
      title: Release
      x-stoplight:
        id: ldvv7wbp846cy
      type: object
      properties:
        id:
          $ref: '#/components/schemas/ReleaseId'
        url:
          type: string
          description: The Download URL of this release.
          format: uri
          example: 'https://github.com/revanced/revanced-manager/releases/download/v0.0.6/revanced-manager-v0.0.6.apk'
        repo:
          type: string
          description: Repository where this release resides in.
          example: revanced/revanced-manager
        ver:
          type: string
          description: The version or tag of this release.
          example: v0.0.6
        ts:
          type: string
          description: The timestamp when this release was created at.
          format: date-time
        size:
          type: string
          description: 'The binary size of this release, serialized as a string.'
          example: '41921144'
      required:
        - id
        - url
        - repo
        - ver
        - ts
        - size
    ReleaseId:
      title: ReleaseId
      x-stoplight:
        id: ltppuk9j1ry47
      type: string
      description: The ID of this release.
      example: revanced-manager-v0.0.6.apk
    Repository:
      type: string
      title: Repository
      x-stoplight:
        id: ltppuk9j1ry47
      description: A repository identifier.
      example: revanced/revanced-manager
    ContributorList:
      title: ContributorList
      x-stoplight:
        id: kla64w9suirvc
      type: object
      description: ''
      properties:
        repo:
          $ref: '#/components/schemas/Repository'
        contributors:
          type: array
          uniqueItems: true
          minItems: 1
          description: An array of one or more contributors.
          items:
            $ref: '#/components/schemas/Contributor'
      required:
        - repo
        - contributors
    Contributor:
      type: object
      x-examples: {}
      title: Contributor
      description: 'Click [here](https://docs.github.com/en/rest/repos/repos#list-repository-contributors) for more information.'
      properties:
        name:
          type: string
          example: Sculas
          description: The username of this user.
        avatar:
          type: string
          example: 'https://avatars.githubusercontent.com/u/22832313?v=4'
          description: The avatar URL for this user.
          format: uri
        url:
          type: string
          example: 'https://github.com/Sculas'
          description: The profile URL for this user.
        contributions:
          type: integer
          example: 9
          description: The amount of contributions this user has.
      required:
        - name
        - avatar
        - url
        - contributions
  parameters: {}
