openapi: 3.0.0
x-stoplight:
  id: lvz3welklfcai
info:
  title: ReVanced API
  version: '1.0'
  description: |-
    The official ReVanced API, for public use.

    For more information, check our [GitHub organization](https://github.com/revanced) or join our [Discord server](https://revanced.app/discord)!
  license:
    url: 'https://www.gnu.org/licenses/gpl-3.0.en.html'
    name: GPL-3.0
  contact:
    name: ReVanced
    url: 'https://revanced.app'
servers:
  - url: 'https://api.revanced.app'
    description: prod
  - url: 'http://localhost:8080'
    description: local
paths:
  /releases:
    parameters: []
    get:
      summary: Get All Releases
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: An array of one or more releases.
                minItems: 0
                uniqueItems: true
                items:
                  $ref: '#/components/schemas/Release'
      operationId: get-releases
      description: Get all releases.
  /contributors:
    parameters: []
    get:
      summary: Get All Contributors
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: An array of one or more contributor lists.
                minItems: 0
                uniqueItems: true
                items:
                  $ref: '#/components/schemas/ContributorList'
      operationId: get-contributors
      description: Get all contributors.
components:
  schemas:
    Release:
      title: Release
      x-stoplight:
        id: ldvv7wbp846cy
      type: object
      properties:
        repo:
          type: string
          description: Repository where this release resides in.
          example: revanced/revanced-manager
        name:
          type: string
          description: The name of this release.
          example: revanced-manager-v0.0.6.apk
        ver:
          type: string
          description: The version or tag of this release.
          example: v0.0.6
        url:
          type: string
          description: The Download URL of this release.
          format: uri
          example: 'https://github.com/revanced/revanced-manager/releases/download/v0.0.6/revanced-manager-v0.0.6.apk'
        size:
          type: integer
          description: The binary size of this release.
          example: '41921144'
        ts:
          type: string
          description: The timestamp when this release was created at.
          format: date-time
      required:
        - repo
        - name
        - ver
        - url
        - size
        - ts
    ContributorList:
      title: ContributorList
      x-stoplight:
        id: kla64w9suirvc
      type: object
      description: ''
      properties:
        repo:
          type: string
          description: The repository identifier.
          example: revanced/revanced-manager
        contributors:
          type: array
          uniqueItems: true
          minItems: 1
          description: An array of one or more contributors.
          items:
            $ref: '#/components/schemas/Contributor'
      required:
        - repo
        - contributors
    Contributor:
      type: object
      x-examples: {}
      title: Contributor
      description: ''
      properties:
        name:
          type: string
          example: Sculas
          description: The username of this user.
        avatar:
          type: string
          example: 'https://avatars.githubusercontent.com/u/22832313?v=4'
          description: The avatar URL for this user.
          format: uri
        url:
          type: string
          example: 'https://github.com/Sculas'
          description: The profile URL for this user.
        contributions:
          type: integer
          example: 9
          description: The amount of contributions this user has.
      required:
        - name
        - avatar
        - url
        - contributions
  parameters: {}
